.comics-collection {
  margin-top: 30px;
  align-self: center;
  width: 80vw;
}
.comics-collection .card-deck {
  justify-content: space-between;
}
@media (min-width: 576px) {
  .card-deck .card {
    margin-bottom: 15px;
    flex-basis: 33.33%;
    flex: 0.1 20%;
  }
}
